.Portfolio {
  background: white;
}

.Portfolio__items {
  margin-top: 100px;
}


.no-projects-msg {
  text-align: center;
  color: black;
}

@media screen and (min-width: 480px) {
  .no-projects-msg {
    font-size: 1.8em;
  }
}

@media screen and (min-width: 900px) {
   .Portfolio__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
  }
}