.ReactModal__Overlay {
  z-index: 3;
}

.ReactModal__Content, .ReactModal__Content--after-open {
  top: 10px !important;
  right: 10px !important;
  bottom: 10px !important;
  left: 10px !important;
}

.info-modal {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.info-modal p {
  color: black;
  line-height: 1.8em;
  margin: 20px 10px;
}

.info-modal a {
  color: black;
}

.info-modal button {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 1.2em;
  font-weight: bold;
  border: 0;
  color: white;
  background: black;
  padding: 6px 15px;
}

.info-modal button:hover {
  color: red;
}

h2.InfoModal-title {
  color: black;
  font-size: 1.4em;
  padding: 20px 0;
  margin: 40px 0 0 0;
}

@media screen and (min-width: 768px) {
  .ReactModal__Content, .ReactModal__Content--after-open {
    top: 40px !important;
    right: 40px !important;
    bottom: 40px !important;
    left: 40px !important;
  }

  h2.InfoModal-title {
    font-size: 2em;
    margin: 0;
  }

  .info-modal p {
    font-size: 1.3em;
  }
}