.Contact__submit-btn:hover {
  color: black;
  background: white;
  border: 1px solid black;
}

.Contact {
  background: white;
  padding-bottom:40px; /* balance out top padding from h1 */
}

.Contact__form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
}

.Contact input {
  border: 0;
  border-bottom: 1px solid #757575;
  border-radius: 0;
  height: 2.4em;
  padding-left: 5px;
  margin: 20px 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  width: 100%;
}

.Contact textarea {
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 0;
  height: 100px;
  padding: 5px;
  font-family: 'Raleway', sans-serif;
  resize: none;
  font-size: 1em;
}

.Contact__submit-btn {
  font-size: 2em;
  padding: 5px 20px;
  margin: 10px 0;
  background: black;
  color: white;
  font-family: 'IM Fell English SC', serif;
  letter-spacing: 1px;
}

@media screen and (min-width: 900px) {
  .Contact__submit-btn {
    width: 50%;
    align-self: flex-end;
  }
}
