* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: black;
  letter-spacing: 1px;
  font-size: 16px;
}

.App {
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  padding-left: 10px;
  padding-right: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button,
a {
  cursor: pointer;
}

h1,
h2,
h3,
h4 {
  font-family: 'IM Fell English SC', serif;
}

p,
a {
  color: white;
  font-family: 'Raleway', sans-serif;
}

h1 {
  margin: 0;
  font-size: 1.8em;
}

h2 {
  margin-top: 40px;
  text-align: center;
  font-size: 4em;
}

h3 {
  font-size: 1.6em;
}